.button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 32px;
  display: inline-block;
  font-size: 14px;
  color: #4b4f56;
  font-weight: 600;
  background-color: #ebedf0;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  padding: 0 12px 0 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: start;
  line-height: 90%;
}

.button:focus {
  outline: none;
}

[prefers-device="mobile"] .button {
  font-size: 12px;
}

.button img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.button:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

.button.primary {
  background-color: #1877f2;
  color: #ffffff;
  border: 0;
}

.button.secondary {
  background-color: #00a400;
  color: #ffffff;
  border: 0;
}

.button.editorBtn {
  background-color: #f5f6f7;
  border: 0;
  border-radius: 16px;
}

.button.editorBtn:hover::after {
  border-radius: 16px;
}
