.editor {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  margin-top: 12px;
}

[prefers-device="mobile"] .editor {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.profileEditorImage {
  min-height: 40px;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.editor .headerEd {
  background-color: #f5f6f7;
  color: #4b4f56;
  border-bottom: 1px solid #dddfe2;
  padding: 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.editor .bodyEd {
  padding: 12px;
}
