.cover {
  width: 820px;
  padding-bottom: 312px;
  margin-left: calc(180px + 12px);
  position: relative;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dddfe2;
  object-fit: cover;
  image-orientation: from-image;
}


[prefers-device="mobile"] .cover {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: calc(100% / 640 * 360);
  border-radius: 0;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
