.header {
  min-height: 42px;
  padding: 0 24px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #364fc9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #29487d;
}

[prefers-device="mobile"] .header {
  max-width: 500px;
  left: unset;
}

.logo {
  color: #FFFFFF;
  margin-left: 12px;
}
