.card {
  max-width: 100%;
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

[prefers-device="mobile"] .card {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
