.downloadPanel {
  width: 308px;
  margin-left: 12px;
  height: min-content;
}

[prefers-device="mobile"] .downloadPanel {
  width: 100%;
  margin-left: 0;
}

.downloadItem {
  margin-top: 12px;
  border: 1px solid #dddfe2;
  padding: 6px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
  color: black;
  border-radius: 2px;
  align-items: center;
}
.downloadItem:visited {
  color: black;
}

.downloadItem img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.downloadDescription {
  font-size: 14px;
}

hr {
  border: 0;
  border-top: 1px solid #dddfe2;
  margin: 12px 0;
}

.footer {
  display: block;
  line-height: 130%;
  opacity: 0.7;
  margin: 0 12px;
}
