.profileName h1 {
  font-weight: normal;
  font-size: 20px;
}

.profileName span {
  opacity: 0.5;
}

.sidebar {
  width: 180px;
  height: auto;
  padding: 12px 0px;
  position: fixed;
}

.profile {
  width: 172px;
  height: 172px;
  border: 4px solid #ffffff;
  background-color: #dddfe2;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profilePhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-orientation: from-image;
}

.profileName {
  padding: 12px 0;
}

[prefers-device='mobile'] .sidebar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dddfe2;
  padding: 12px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

[prefers-device='mobile'] .profile {
  min-width: 64px;
  min-height: 64px;
  width: 64px;
  height: 64px;
  border: none;
  margin-right: 12px;
}

[prefers-device='mobile'] .profileName {
  padding: 0;
}
