.mePhoto {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 12px;
}

.headerPost {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
  color: black;
  text-decoration: none;
}

.headerPost a:hover {
  text-decoration: underline;
}
.headerPost:visited {
  color: black;
}

.userName {
  font-size: 14px;
  opacity: 0.8;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

p {
  line-height: 140%;
  margin-bottom: 12px;
}
