html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  font-family: -apple-system, Inter, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #e9ebee;
}

[prefers-device='mobile'] html,
[prefers-device='mobile'] body {
  background-color: #212121;
}

.App {
  justify-content: center;
  margin: 0 auto;
  padding: 42px 0;
  display: flex;
  flex-direction: row;
  background-color: #e9ebee;
  position: relative;
}

[prefers-device='mobile'] .App {
  flex-direction: column;
  max-width: 500px;
}

a,
*:focus,
::-moz-focus-inner {
  border: 0;
  outline: none !important;
}

.textInput {
  display: block;
  flex-direction: column;
  margin-bottom: 12px;
}

.pageName {
  min-height: 40px;
  font-size: 16px;
  border: none;
  width: 100%;
}

.pageName:focus {
  outline: none;
}

.buttonsInput {
  display: flex;
  width: 100%;
}

.buttonsInput label.button {
  margin-right: 6px;
}

.mainBody {
  display: flex;
  flex-direction: row;
  margin-left: calc(180px + 12px);
}

[prefers-device='mobile'] .mainBody {
  flex-direction: column;
  margin-left: 0;
}

.postBody {
  display: flex;
  flex-direction: column;
  width: calc(820px - 12px - 308px - 24px);
}

.postBody img {
  width: 100%;
}

[prefers-device='mobile'] .postBody {
  width: auto;
}
